
@tailwind base;
@tailwind components;
@tailwind utilities;

body{

background: black;
color: white;
}
.card{

    background-color: rgb(20, 19, 19);
}
.header{

    background-color: rgb(27, 23, 23);
}